.submit-form {
    max-width: 300px;
    margin: auto;
  }

.size-image {
    width: 250px;
    height: 350px;
  }

.link-hover {
  color: black;
  text-decoration: none ;
}

.link-hover :hover{
color: rgb(40, 40, 151);
cursor: pointer;
}

.link-hover-navbar {
  color: white;
  align-items: right;
  text-decoration: none;
}

.checked {
  border: 0px solid transparent;
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
}